.publication {
	.container-fluid();

	h2 {
		text-align: left;
		padding-bottom: 2rem;
	}

	&__comment {
		display: block;
		padding: 0.5rem 0;
		color: @color-event;
	}

	
	&__last-img {
		float: right;
		width: auto;
		margin: 2rem;
		margin-right: 0;
		img {
			width: 100%;
		}

	}

	
}



@media @mobil-widths {
	

	.publication__last-img {
		display: none;
	}

}

